@media screen {
	body {
	  margin-top: 60px;
	  padding: 10px;
	  background-color: #ECF0F1;
	}
}

#csv-panel-body > div {
	margin: 1em 0;
}

#csv-panel-body div.instructions {
	display: none;
	margin-left: 2em;
}

table tbody tr.report-group > td {
	border: 0;
}

table tbody tr.report-group {
	border-top: 1px solid #DDD;
}