<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <h1>Welcome to Alumnance!</h1>
            <p class="lead">Alumnance is an easy way to take <span class="text-primary">alumn</span>i attend<span class="text-primary">ance</span> at special events.</p>
			<div class="panel panel-primary">
				<div class="panel-heading">Upload CSV</div>
				<div id="csv-panel-body" class="panel-body">
					To get started, upload a CSV file containing all alumni in your alumni management system. <a slide-toggle-next-sibling>Show me how</a>
					<div class="instructions row">
						<div class="col-sm-12">
							The CSV file should contain four columns:
							<ol>
								<li>Full Name</li>
								<li>Maiden Name</li>
								<li>School(s) Attended</li>
								<li>Class Of</li>
							</ol>
							<div class="alert alert-info">A header row is required. The column names don't matter, but the order does.</div>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-4">
							<input type="file" ng-file-select="onFileSelect($files)">
						</div>
						<div class="col-sm-8">
							<progressbar max="100" value="progress" ng-show="progress > 0 && progress < 100"></progressbar>
						</div>
					</div>
				</div>
			</div>
        </div>
    </div>
</div>